# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tutorial.settings

[deploy]
url = https://localhost:6800/
# url = https://scrptest.herokuapp.com:6800/
project = tutorial
